*.lo
*.o
*.gmo
.deps
.libs
*.la

Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
config.h
config.h.in
libtool
ltmain.sh
missing
mkinstalldirs
omf.make
po/POTFILES
po/stamp-it
po/Makefile.in.in
stamp-h1
xmldocs.make

src/mailme
